<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RestaurantDB"
			 connectionString="Server=ASUS\SQLEXPRESS01;Database=RestaurantCarol;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="DiscountMeniu" value="10" />

		<add key="PragDiscountSuma" value="200" />

		<add key="NrComenziDiscount" value="3" />
		<add key="IntervalZileDiscount" value="30" />

		<add key="ProcentDiscount" value="5" />

		<add key="PragTransportGratuit" value="100" />
		<add key="CostTransport" value="15" />

		<add key="PragStocRedus" value="500" />
	</appSettings>
</configuration>